.card{
    border: 1px solid black;
    position: relative;
    background-color: var(--fondo-cards);
    border-radius: 4%;
    width: 14rem;
    height: 17rem;
    margin: 3rem;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease, box-shadow 0.4 ease;
}

.card:hover{
    transform: translate(0.5px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.1);
}

.card__buttons{
    position: relative;
    display: flex;
    margin:70px 10px;
    justify-content: space-between;
}